
.content-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 160px);
}

.buttonSuscribe {
  background-color: rgb(239, 146, 69);
  border-color: rgb(239, 146, 69);
  border-radius: 6px;
  height: 44px;
  margin-top: 105px;
  color: #1a1a1a;
  position: relative;
  transition: -webkit-filter .2s ease-in;
  transition: filter .2s ease-in;
  transition: filter .2s ease-in, -webkit-filter .2s ease-in;
  width: 100%;
}

.contentCards {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}